# Melbourne: Hot Weather

The following describes the hottest days recorded by the Bureau of Meteorology for Melbourne.

In [8]:
import pandas as pd
import datetime as dt
from pathlib import Path

In [12]:
# Load data and prepare for use

bom = pd.read_excel('../data/BOM_Victoria.xlsx', sheet_name='Melbourne')
bom = bom.drop(['Station'], axis=1)

In [13]:
# Find the hottest days in Melbourne and sort from the highest down

view = bom.sort_values(by='Maximum', ascending=False).head(20)
dates = pd.Series([pd.to_datetime(dt.datetime(r.Year, r.Month, r.Day)) for r in view.itertuples()])

df = pd.DataFrame(
    data = {
        'Date': dates,

        # Specify the "values" property here so the index of the Series is ignored
        'Temperature': view['Maximum'].values
    }
)
df

         Date  Temperature
0  2009-02-07         46.4
1  1939-01-13         45.6
2  2009-01-30         45.1
3  1939-01-10         44.7
4  2009-01-29         44.3
5  1908-01-17         44.2
6  2003-01-25         44.1
7  1862-01-14         44.0
8  2014-01-16         43.9
9  2014-01-17         43.9
10 1860-01-22         43.9
11 1968-01-31         43.7
12 1876-12-15         43.7
13 1882-01-19         43.6
14 2010-01-11         43.6
15 2019-12-20         43.5
16 1875-01-20         43.5
17 2009-01-28         43.4
18 1982-01-24         43.3
19 1868-12-24         43.3